.flip_card {
    background-color: transparent;
    width: 100%;
    height: 50vh;
    position: relative;
    perspective:100vw; 
}

.flip_card_back, .flip_card_front {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--tertiary-color);
    transition: transform 1s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    top: 0;
    left: 0;
}

.flip_card_back {
  transform: rotateY(180deg);
}

.flip_card_inner {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1s ease;
    transform-style: preserve-3d;
    box-shadow: var(--secondary-color) 0px 3px 3px -1px;
}

.is_flipped {
  transform: rotateY(180deg);
}

.is_not_active {
    transition:none;
}


