.card {
    background-color: var(--tertiary-color); 
    box-shadow: var(--secondary-color) 0px 3px 3px -1px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.term {
    display: flex;
    justify-content: space-between;
    position: relative;
}


.actions {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: 0.5rem;
    position: relative;
    flex-grow: 1;
}

.buttons {
    position: absolute;
    text-align: right;
    display: flex;
    gap: 0.25rem;
    top: 100%;
    right: 0;
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    box-shadow: var(--secondary-color) 0px 3px 3px -1px;
    padding: 0.4rem 0;
}

.button {
    padding: 0.25em;
    border-radius: 0;
    font: inherit;
    font-size: 0.8rem;
    font-weight: 400;
}

.edit_actions {
    display: flex;
    gap: 0.5rem;
}

.is_not_active {
    border: none;
    background-color: transparent;
}

.is_active, .input:hover {
    background-color: #fcf4bb;
    box-shadow: var(--secondary-color) 0px 0px 2px 0px;
}

.actions_is_active {
    flex-direction: row;
}

.input {
    width: 100%;
    padding: 0;
    border: none;
    font: inherit;
    font-size: 1rem;
    resize: none;
    height: auto;
}

.input:focus-visible {
    outline: none;
}

.input::placeholder {
    color: var(--secondary-color)
}


.definition_input {
    margin-top: 0.5rem;
}

.term_input {
    font-weight: 600;
}

.is_loading {
    color: var(--secondary-color);
}

.delete_confirmation {
    display: flex;
    gap: 0.5rem;
}

.delete_confirmation p {
    font-size: 0.8rem;
}
