.outlet_wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 0;
}

@media (max-width: calc(1200px + 2rem)) {
    .outlet_wrapper {
        margin:0 1rem ;
    }
}
