.wrapper {
    background-color: var(--primary-color);
    box-shadow: rgb(57 21 5) 0px 3px 1px, inset 0px -8px 30px #563213;
    color: var(--white-color);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.wrapper h1 {
    font-size: 1.2rem;
    font-weight: 600;
}

.wrapper a {
    color:inherit;
    text-decoration: none;
}

