.container {
    align-items: center; 
    background: var(--light-blue-color);
    box-shadow: inset 0px -4px 8px #0386f6;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 1rem;
}

.container::after {
    --border-width: 0.25rem;
    --border-color: #aad9ff;
    --background-color: #426cbe;

    content: "";
    background-color: var(--background-color);
    background-image: 
        linear-gradient(to right, var(--border-color) var(--border-width), transparent var(--border-width), transparent calc(100% - var(--border-width)), var(--border-color) var(--border-width));
    bottom: 1rem;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -3;
}

.container::before {
    --border-width: 0.25rem;
    content: "";
    background-color: var(--tertiary-color);
    border-bottom: 3px solid var(--light-blue-hover-color);
    border-radius: 0.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    padding: 0.5rem;
    width: 25%;
}

.container_text {
    height: 100%;
    text-align: center;
    width: 100%;
}

.container_text .header h3 {
    background-color: var(--white-color);
    border-radius: 0.25em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 1px;
    display: block;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0.75rem;
    overflow: hidden;
    padding: 0.3em;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.container_text .description {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    margin-top: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    white-space: normal;
}

.cards {
    position: relative;
    aspect-ratio: 3/2;
    margin-top: 5rem;
    cursor: pointer;
    background: var(--tertiary-color);
}

.cards:hover .container {
    background-color: var(--light-blue-hover-color);
}

.card {
    position: absolute;   
    background: var(--tertiary-color);
    height: 100%;
    width: calc(100% - 2rem); 
    left: 1rem;
    z-index: -1;
    box-shadow: var(--secondary-color) 0px -4px 6px -3px;
}

.cards:hover .card:nth-child(1) {
    transform: translateY(-0.45rem);
    transition: transform 0.2s ease;
}

.cards:hover .card:nth-child(2) {
    transform: translateY(-0.65rem);
    transition: transform 0.25s ease;
}

.cards:hover .card:nth-child(3) {
    transform: translateY(-0.85rem);
    transition: transform 0.3s ease;
}

.cards .card:nth-child(1) {
    top: -2.5rem;
}

.cards .card:nth-child(2) {
    top: -2rem;
}

.cards .card:nth-child(3) {
    top: -1.5rem;
}
