:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #6E5948; 
  --secondary-color: #AE8C63;
  --tertiary-color: #FCF1A6;

  --primary-hover-color: #988057;

  --light-blue-color: #9BD1FF;
  --dark-blue-color: #87BEED;
  --white-color : #FFFFFF;

  --light-blue-hover-color: #BEE8FF; 
}


